RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /CodeigniterCrud/index.php/$1 [L]
    ErrorDocument 404 /CodeigniterCrud/index.php